/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fdc7c7;
    --color-dark-pink: #db9290;
    --color-dark-grey: #424141;
    --color-grey: #4e4d4d;
    --color-light-grey: #7c7979;
    --color-blue: #81b1d1;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

      /* Size */
  --size-border-radius: 4px;
   /* Animation */
   --animation-duration : 300ms;
  }
 


  /* Universal tags */
  *{
      box-sizing:border-box;
  }
  body{
      margin:0;
      font-family: 'Open Sans', sans-serif;
      cursor: default;
      /* 마우스가 텍스트 위에 올라가도 
      I 이렇게 안 뜨고 기본적인 커서 값이 지정됨*/
    }
  a{
      text-decoration: none;
      color:var(--color-white);
    }

    ul{
        list-style:none;
        padding-left:0;
    }
    button{
        /* 버튼의 기본적인 속성 없애기 */
        background-color: transparent;
        cursor: pointer;
        border:none;
        outline: none;
    }
  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

  /* Navbar */
  #navbar {
    display:flex;
    /* 박스div가 양쪽에 나올 수 있도록 함 */
   justify-content: space-between;
   /* justify-content 는 가로축을 기준으로 좌우에 대한 정렬을 권장 */
   /* justify-content: space-between; 요소들 사이에 동일한 간격을 둠
   양쪽 끝을 붙일 상태에서 사이사이에 일정한 간격을 두기 위해서 좋음
 */

   background-color:var(--color-pink);
    align-items: center;
    /* 컨테이너의 세로축의 중앙으로 정렬함 */
    color:var(--color-white);
    padding:16px;
}
.navbar_menu{
    display: flex;
     /* 박스div가 양쪽에 나란히 나올 수 있도록 함 */
     /* 세로정렬을 가로정렬로 */

}
.navbar_menu_item{
    padding: 12px 12px; 
    margin:0 4px;
    /* 패딩 마진 순서 위아래, 양옆 */
    cursor: pointer;
    /* 마우스가 올라가면 손가락 모양으로 바뀜,사용자에게 클릭이 가능하다고 얘기해줌 */
    border-radius: var(--size-border-radius);
}
.navbar_logo{
    font-size:var(--font-medium);
    font-weight: var(--weight-semi-bold);
}
.navbar_menu_item.active{
    border: 1px solid var(--color-white);
   
}
.navbar_menu_item:hover{
    background-color: var(--color-dark-pink);

}

/* Home */
#home{
    background:url("imgs/homebackground.png") center/cover no-repeat;
    /*  center/cover 센터에다 두면서 반응형이 되도록 함 */
    /* no-repeat 배경이미지가 반복되지 않도록 함 */
    padding:40px;
    text-align: center;
    /* 모든 아이템을 화면의 중간으로 정렬 */
}

.home_avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* border-radius를 이용하여 50%를 지정하면 동그랗게 됨 */
    border: 2px solid var(--color-light-white) ;

}
.home_title,.home_description{
    color:var(--color-white);
}
.home_contact{
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding:8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

/* Section common */
.section {
    text-align: center;
    /* 모든 아이템을 중간으로 정렬 */
    padding: 50px;
    
    margin: auto;
    /* 마진이 오른쪽에만 적용되어 있어서
      text-align: center; 가 되어있음에도
      중간 정렬이 안됨 --> margin: auto; 쓰기 */
}
.section_container{
    /* max-width를 지정하게 되면 화면을 늘렸을 때 배경이미지나 색깔이
    더이상 늘어나지 않아 부담스러움
    그래서 따로 max-width를 지정하고 싶은 부분에만 처리하기 위해 따로 뺌 */
    max-width: 1200px;
    /* 최대너비 지정하여 화면이 커졌을 때 너무 늘어나보이지 않도록 함
    1000-1200이 데스크탑에서 편하게 볼 수 있는 너비 */
    margin: auto;
}
/* About */
.about_majors{
    margin: 80px 0;
    display: flex;
     /* 박스div가 양쪽에 나란히 나올 수 있도록 함 */
     /* 세로정렬을 가로정렬로 */
    justify-content: space-between;
}
.major_icon{
   width: 170px;
    height: 170px;
    font-size: 70px;
    color: var(--color-blue);
    line-height: 170px;
    /*  line-height 을 높이만큼 지정하게 되면 자동으로 수직적으로 중간에 오게 됨 */
    margin: auto;
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom:16px ;
}
.major_icon i{
    transition:all  300ms ease;
    /* 애니메이션을 주고 싶은 곳에 모든 속성값에서 300ms로 부드럽게 움직임
    250ms-350ms가 애니메이션 주기 적당함 */
}
.major_icon:hover i{
    color:var(--color-pink);
    transform: rotate(-30deg) scale(1.1);
}
.major_title,.major_description{
    color:var(--color-dark-grey);
}

.major_description{
    font-size: var(--font-small);
}
.career{
    display: flex;
    align-items: center;
}
.career_description{
    margin:0 16px;
    text-align: left;
}
.school_name,.period{
 color:var(--color-light-grey);
   
}
.school_name{
    font-size: var(--font-small);
}
.period{
    font-size: var(--font-micro);
}

/* Skills */
#skills{
    
    background-color: var(--color-yellow);
}
.skill{
    margin-bottom: 32px;
}
.skillset{
    
    margin: 20px 0;
    color: var(--color-light-white);
     display: flex; 
    background-color: var(--color-light-grey);
}
.skillset_title{
color: var(--color-light-white);
}
.skillset_left{

padding:20px 40px;

flex-basis: 60%;
/* 컨텐츠 자체의 크기가 작아서 화면 차지를 못하는 애들을
아이템별로 플렉스 베이스를 지정해줘서 
각자 크기가 자동적으로 늘어날 수 있게 해줌*/
background-color: var(--color-dark-grey);
}
.skill_description{
    
    display: flex;
    justify-content: space-between;
}
.skill_bar{
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}
.skill_value{
    /* width: 70%; */
    /* 여기서 width를 지정하면 모든 프로그레스 바가 동일하게 지정되므로 
    이 width는 html에서 정의해줘야 함 */
    height: 3px;
    background-color: var(--color-orange);

}
.skillset_right{
flex-basis: 40%;
/* 컨텐츠 자체의 크기가 작아서 화면 차지를 못하는 애들을
아이템별로 플렉스 베이스를 지정해줘서 
각자 크기가 자동적으로 늘어날 수 있게 해줌*/


}
.tools{
    background-color: var(--color-grey);
}
.tools,.etc{
    padding: 20px;
}
.tools_list li,.etc_list li{
    font-size: var(--font-small);
    margin: 5px;
}
/* Work */
.category_btn{
    border:1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding:8px 48px;

}
.work_categories{
    margin: 40px;
}
.category_btn.active,
.category_btn:hover{
    color: var(--color-white);
    background-color: var(--color-pink);
}
.category_btn.active .category_count,
.category_btn:hover .category_count{
    opacity: 1;
    top:0;
}
.category_count{
    background-color: var(--color-orange);
    border-radius: 50px;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    display: inline-block;
    /* span 태그는 inline이기 때문에 inline-block으로 바꿔줌 */
    line-height: 24px;
    /* 숫자를 수직적으로 중간으로 오게 하기 위해 */
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    /* 요소의 투명도 지정, 0은 완전 투명
    기본값은 완전 불투명인 1로 지정되어있음 */
    transition: all var(--animation-duration) ease;

}
.work_projects{
    display: flex;
    flex-wrap: wrap;
    /* 아이템들이 꽉차면 자동으로 줄바꿈 시켜줌 */
    justify-content: center;
    /* 화면의 가운데로 정렬 */
}
.project{
    position: relative;
    width:200px;
    height: 250px;
    margin: 2px;
    background-color:var(--color-light-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_img{
    max-width: 100%;
    max-height: 100%;
}
.project_description{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    /*  나란히 배치되어 있는 아이템들을
    위에서 아래로 정렬되게끔 만들어줌 */
    justify-content:center ;
    /* 컨테이너의 세로축의 중앙으로 정렬 */
background-color: black;
    /* 부모노드 중에서 기본값인
     스태틱이 아닌 부모를 찾아감 
     결국 찾다찾다 바디 태그로 올라감
     이를 방지하기 위해 부모 노드에 
     position : relative; 지정해줘야함 */
    opacity: 0;
    transition: all var(--animation-duration);
    transform: translateY(10px);
    /* 요소의 표시위치를 y축으로 이동시킴
    +값 아래쪽 -값 위쪽 */
}
    .project:hover .project_description{
        opacity: 0.8;
        transform: translateY(0px);
    }
.project_description h3{
    color: var(--color-white);
}
.project_description h3:after{
    /*꾸밈을 위해서 의미없는 태그를 
    더 추가해야 될 때, 태그 대신에 
    가상으로 처리해 줌 */
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    position: relative;
    left: 50%;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}